bar {
    status_command i3status -c ~/.config/i3status/config
    position top
    font pango:{{FONT_FAMILY}} 10
    colors {
        background #{{BG}}
        statusline #{{FG}}
        separator  #{{SUBTLE}}
        focused_workspace  #{{BG}} #{{BG}} #{{FG}}
        active_workspace   #{{BG}} #{{BG}} #{{BRIGHT}}
        inactive_workspace #{{BG}} #{{BG}} #{{SUBTLE}}
        urgent_workspace   #{{ERROR}} #{{BG}} #{{FG}}
    }
}
