    themes {
    angst {
        text_unselected {
            base "#bc8cff"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        text_selected {
            base "#010409"
            background "#ff7b72"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#b1bac4"
        }

        ribbon_unselected {
            base "#ff7b72"
            background "#0d1117"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#bc8cff"
        }

        ribbon_selected {
            base "#010409"
            background "#ff7b72"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#b1bac4"
        }

        table_title {
            base "#ff7b72"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#b1bac4"
        }

        table_cell_unselected {
            base "#bc8cff"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        table_cell_selected {
            base "#010409"
            background "#ff7b72"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#b1bac4"
        }

        list_unselected {
            base "#bc8cff"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        list_selected {
            base "#010409"
            background "#ff7b72"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#b1bac4"
        }

        frame_unselected {
            base "#bc8cff"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        frame_selected {
            base "#ff7b72"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#b1bac4"
        }

        frame_highlight {
            base "#f2b134"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        exit_code_success {
            base "#3fb950"
            background "#010409"
            emphasis_0 "#3fb950"
            emphasis_1 "#bc8cff"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        exit_code_error {
            base "#ff6e6e"
            background "#010409"
            emphasis_0 "#ff6e6e"
            emphasis_1 "#f2b134"
            emphasis_2 "#58a6ff"
            emphasis_3 "#ff7b72"
        }

        multiplayer_user_colors {
            player_1 "#d29922"
            player_2 "#bc8cff"
            player_3 "#ff7b72"
            player_4 "#58a6ff"
            player_5 "#3fb950"
            player_6 "#484f58"
            player_7 "#d29922"
            player_8 "#bc8cff"
            player_9 "#ff7b72"
            player_10 "#58a6ff"
        }
    }
}


