    themes {
    angst {
        text_unselected {
            base "#195466"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        text_selected {
            base "#0c1014"
            background "#c23127"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#99d1ce"
        }

        ribbon_unselected {
            base "#c23127"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#195466"
        }

        ribbon_selected {
            base "#0c1014"
            background "#c23127"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#99d1ce"
        }

        table_title {
            base "#c23127"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#99d1ce"
        }

        table_cell_unselected {
            base "#195466"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        table_cell_selected {
            base "#0c1014"
            background "#c23127"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#99d1ce"
        }

        list_unselected {
            base "#195466"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        list_selected {
            base "#0c1014"
            background "#c23127"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#99d1ce"
        }

        frame_unselected {
            base "#195466"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        frame_selected {
            base "#c23127"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#99d1ce"
        }

        frame_highlight {
            base "#df9f28"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        exit_code_success {
            base "#6e9643"
            background "#0c1014"
            emphasis_0 "#6e9643"
            emphasis_1 "#195466"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        exit_code_error {
            base "#d9534f"
            background "#0c1014"
            emphasis_0 "#d9534f"
            emphasis_1 "#df9f28"
            emphasis_2 "#5f9ea0"
            emphasis_3 "#c23127"
        }

        multiplayer_user_colors {
            player_1 "#edb443"
            player_2 "#195466"
            player_3 "#c23127"
            player_4 "#2aa889"
            player_5 "#33859e"
            player_6 "#4e5166"
            player_7 "#edb443"
            player_8 "#195466"
            player_9 "#c23127"
            player_10 "#2aa889"
        }
    }
}


