plugins {
    vim-navigator location="https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm"
}

copy_command "xclip -selection clipboard"
copy_clipboard "system"

keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }

    normal {
        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Ctrl t" { SwitchToMode "tab"; }
    }

    pane {
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "n" { NewPane "Right"; }
        bind "x" { CloseFocus; }
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "Esc" "Ctrl c" { SwitchToMode "normal"; }
    }

    tab {
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
        bind "Esc" "Ctrl c" { SwitchToMode "normal"; }
    }

    shared_except "locked" {
        bind "Ctrl h" {
            MessagePlugin "vim-navigator" {
                name "move_focus_or_tab";
                payload "left";
                move_mod "ctrl";
                use_arrow_keys "false";
            };
        }

        bind "Ctrl j" {
            MessagePlugin "vim-navigator" {
                name "move_focus";
                payload "down";
                move_mod "ctrl";
                use_arrow_keys "false";
            };
        }

        bind "Ctrl k" {
            MessagePlugin "vim-navigator" {
                name "move_focus";
                payload "up";
                move_mod "ctrl";
                use_arrow_keys "false";
            };
        }

        bind "Ctrl l" {
            MessagePlugin "vim-navigator" {
                name "move_focus_or_tab";
                payload "right";
                move_mod "ctrl";
                use_arrow_keys "false";
            };
        }

        bind "Alt h" {
            MessagePlugin "vim-navigator" {
                name "resize";
                payload "left";
                resize_mod "alt"; 
            };
        }

        bind "Alt j" {
            MessagePlugin "vim-navigator" {
                name "resize";
                payload "down";
                resize_mod "alt";
            };
        }

        bind "Alt k" {
            MessagePlugin "vim-navigator" {
                name "resize";
                payload "up";
                resize_mod "alt";
            };
        }

        bind "Alt l" {
            MessagePlugin "vim-navigator" {
                name "resize";
                payload "right";
                resize_mod "alt";
            };
        }
    }
}
