keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }

    normal {
        unbind "Alt h" "Alt j" "Alt k" "Alt l"

        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Ctrl t" { SwitchToMode "tab"; }

        bind "Ctrl h" { MoveFocus "left"; }
        bind "Ctrl j" { MoveFocus "down"; }
        bind "Ctrl k" { MoveFocus "up"; }
        bind "Ctrl l" { MoveFocus "right"; }
    }

    pane {
        bind "n" { NewPane "Right"; }
        bind "Esc" "Ctrl c" { SwitchToMode "normal"; }

        bind "Ctrl h" { MoveFocus "left"; }
        bind "Ctrl j" { MoveFocus "down"; }
        bind "Ctrl k" { MoveFocus "up"; }
        bind "Ctrl l" { MoveFocus "right"; }
    }

    tab {
        bind "n" { NewTab; }
        bind "Esc" "Ctrl c" { SwitchToMode "normal"; }
    }

    shared_except "locked" {
        unbind "Alt h" "Alt j" "Alt k" "Alt l"

        bind "Ctrl h" { MoveFocusOrTab "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocusOrTab "Right"; }

    }
}
