layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                _allow_exec_host_cmd true
                format_left   "{mode}"
                format_center "#[bg=#e5c47b,fg=#222222]{command_cwd}"
                format_right  "{tabs}"
                format_space  "#[bg=#e5c47b,fg=#222222]"

                mode_default_to_mode "normal"
                mode_normal        "#[bg=#e5c47b,fg=#222222,bold] NORMAL "
                mode_locked        "#[bg=#685742,fg=#222222,bold] LOCKED "
                mode_pane          "#[bg=#5f875f,fg=#222222,bold] PANE "
                mode_tab           "#[bg=#bb7744,fg=#222222,bold] TAB "
                mode_scroll        "#[bg=#b36d43,fg=#222222,bold] SCROLL "
                mode_enter_search  "#[bg=#bb7744,fg=#222222,bold] SEARCH "
                mode_search        "#[bg=#bb7744,fg=#222222,bold] SEARCH "
                mode_resize        "#[bg=#d7c483,fg=#222222,bold] RESIZE "
                mode_rename_tab    "#[bg=#c9a554,fg=#222222,bold] RENAME "
                mode_rename_pane   "#[bg=#c9a554,fg=#222222,bold] RENAME "
                mode_move          "#[bg=#b36d43,fg=#222222,bold] MOVE "
                mode_session       "#[bg=#78824b,fg=#222222,bold] SESSION "
                mode_prompt        "#[bg=#5f875f,fg=#222222,bold] PROMPT "
                mode_tmux          "#[bg=#c9a554,fg=#222222,bold] TMUX "

                tab_normal              "#[bg=#e5c47b,fg=#222222] {index} "
                tab_normal_fullscreen   "#[bg=#e5c47b,fg=#222222] {index} "
                tab_normal_sync         "#[bg=#e5c47b,fg=#222222] {index} "
                tab_active              "#[bg=#222222,fg=#e5c47b,bold] {index} "
                tab_active_fullscreen   "#[bg=#222222,fg=#e5c47b,bold] {index} "
                tab_active_sync         "#[bg=#222222,fg=#e5c47b,bold] {index} "

                command_cwd_command    "pwd"
                command_cwd_format     "{stdout}"
                command_cwd_interval   "0"
                command_cwd_rendermode "dynamic"
            }
        }
    }
}