layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode}"
                format_center "#[bg=#6f894e,fg=#545464]{command_cwd}"
                format_right  "#[bg=#6f894e,fg=#545464]{tabs}"
                format_space  "#[bg=#6f894e,fg=#545464]"

                mode_default_to_mode "normal"
                mode_normal        "#[bg=#6f894e,fg=#545464,bold] NORMAL "
                mode_locked        "#[bg=#597b75,fg=#f2ecbc,bold] LOCKED "
                mode_pane          "#[bg=#77713f,fg=#545464,bold] PANE "
                mode_tab           "#[bg=#b35b79,fg=#545464,bold] TAB "
                mode_scroll        "#[bg=#c84053,fg=#f2ecbc,bold] SCROLL "
                mode_enter_search  "#[bg=#b35b79,fg=#f2ecbc,bold] SEARCH "
                mode_search        "#[bg=#b35b79,fg=#f2ecbc,bold] SEARCH "
                mode_resize        "#[bg=#c84053,fg=#f2ecbc,bold] RESIZE "
                mode_rename_tab    "#[bg=#b35b79,fg=#f2ecbc,bold] RENAME "
                mode_rename_pane   "#[bg=#b35b79,fg=#f2ecbc,bold] RENAME "
                mode_move          "#[bg=#c84053,fg=#f2ecbc,bold] MOVE "
                mode_session       "#[bg=#77713f,fg=#f2ecbc,bold] SESSION "
                mode_prompt        "#[bg=#528c38,fg=#f2ecbc,bold] PROMPT "
                mode_tmux          "#[bg=#4d699b,fg=#f2ecbc,bold] TMUX "

                tab_normal              "#[bg=#6f894e,fg=#545464,bold] {index} "
                tab_normal_fullscreen   "#[bg=#6f894e,fg=#545464,bold] {index} "
                tab_normal_sync         "#[bg=#6f894e,fg=#545464,bold] {index} "
                tab_active              "#[bg=#545464,fg=#6f894e,bold] {index} "
                tab_active_fullscreen   "#[bg=#545464,fg=#6f894e,bold] {index} "
                tab_active_sync         "#[bg=#545464,fg=#6f894e,bold] {index} "

                command_cwd_command    "pwd"
                command_cwd_format     "{stdout}"
                command_cwd_interval   "0"
                command_cwd_rendermode "dynamic"
            }
        }
    }
}

