general {
    colors = true
    interval = 5
    markup = pango
    color_good = "#{{SUCCESS}}"
    color_degraded = "#{{WARNING}}"
    color_bad = "#{{ERROR}}"
}

order = "tztime local"

tztime "local" {
    format = " <span color='#{{BRIGHT}}'>%Y-%m-%d %H:%M</span> "
}
